<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="PhpTrie test suite">
            <file>tests/PhpTrieTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <ini name="date.timezone" value="Asia/Shanghai"/>
    </php>
</phpunit>
